<div class="prsb-lg">
    <div class="prsb-alert prsb-success">
        <svg class="material-icons.md-24 icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            fill="none">
            <path fill="#118847"
                d="M 12 2 C 6.48 2 2 6.48 2 12 s 4.48 10 10 10 s 10 -4.48 10 -10 S 17.52 2 12 2 Z m -2 15 l -5 -5 l 1.4 -1.4 l 3.6 3.58 L 17.17 7 l 1.4 1.42 L 10 17 Z" />
            <path fill="#fff" d="M 5 12 l 5 5 l 8.58 -8.58 L 17.17 7 L 10 14.17 L 6.4 10.6 L 5 12 Z" />
        </svg>
        <p class="prsb-green success-text">
            Success!
            <svg (click)="close()" class="icon close" xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24">
                <path fill="#000"
                d="M 19 6.4 L 17.6 5 L 12 10.6 L 6.4 5 L 5 6.4 l 5.6 5.6 L 5 17.6 L 6.4 19 l 5.6 -5.6 l 5.6 5.6 l 1.4 -1.4 l -5.6 -5.6 L 19 6.4 Z" />
            </svg>
        </p>
    </div>
</div>