<form action="#" class="prsb-form" style="margin-bottom: 5rem;">
    <div class="flex-container">
        <div>
            <select class="selection-size" (change)="onTableSizeChange($event)" >
                <option *ngFor="let size of tableSizes" [selected]="tableSize === size">
                    {{ size }}
                </option>
            </select>
        </div>
        <table class="prsb-detail-table" style="width: 100%; margin-bottom: 2rem;" id="queryTable">
            <thead>
                <tr>
                    <th>File Number</th>
                    <th>Health Number</th>
                    <th>Surname</th>
                    <th>Request Type</th>
                    <th>Started</th>
                    <th>Closed</th>
                    <th>Days</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hshrRequest of hshrRequestList | paginate : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                    };
                    let i = index">
                    <td><a [routerLink]="['/subscriber-request-details',{subid: this.selectedSubscriber.subscribersID,reqid:this.hshrRequest.requestID }]">{{hshrRequest.fileNo}}</a></td>
    <!--                <td><a [routerLink]="['/view-subscriber-list', {id: this.hshrRequest.subscriber.subscribersID}]">{{hshrRequest.fileNo}}</a></td>-->
                    <td>{{hshrRequest.subscriber.healthNo}}</td>
                    <td>{{hshrRequest.subscriber.surname}}</td>
                    <td>{{hshrRequest.type.typeDescription}}</td>
                    <td>{{hshrRequest.fileStarted}}</td>
                    <td>{{hshrRequest.fileClosed}}</td>
                    <td>{{calculateDays(hshrRequest.fileStarted,hshrRequest.fileClosed)}}</td>
                </tr>
            </tbody>
        </table>
        <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)="onTableDataChange($event)">
        </pagination-controls>
    </div>
    <div class="flex-container" style="justify-content: flex-end;">
        <div class="button">
            <button value="PrintTbl" class="prsb-button" (click)="tableAsPDF()">Print Table</button>
            <button value="PrintQry" class="prsb-button" (click)="queryAsPDF()">Print Query</button>
        </div>
    </div>
</form>

