<div style="background-color: #ededed; border-top: 1px solid #d3d0d0;" class="prsb-sticky-footer">
    <footer id="footer" class="prsb-footer footer" style="border-top: none;">
        <p class="prsb-pad-10">IT Support 1-888-677-4873</p>

        <a class="prsb-pad-10" href="mailto:opssd@ontario.ca">opssd@ontario.ca</a>

        <!-- <a href="#" [routerLink]="['/about', {id: 'about'}]" class="prsb-pad-10"> -->
        <a href="">About
        </a>
<!--        <a href="/about" class="prsb-pad-10">About</a>-->

        <p class="prsb-pad-10" style="margin: auto 0 auto auto;"><span id="timestamp">{{currentDateTime}}</span></p>
    </footer>
</div>