<div style="padding-bottom : 7rem">
    <app-success *ngIf="this.showMsg"></app-success>
    <label for="serviceCode" [ngClass]="(!isValid && !this.serviceCheck())?'wrong':''">
        Service <small>(required)</small></label>
    <p class="hint">Choose a home for your template</p>
    <select [(ngModel)]="template.serviceCodeEntity.service_code" name="serviceCode" id="serviceCode"
        class="round-corner prsb-med">
        <option *ngFor="let service of services; let i = index" value="{{service.service_code}}">
            {{service.name}}</option>
    </select>

    <div class="prsb-sm">

        <label for="effDate">Effective date <small>(optional)</small> </label>
        <input [(ngModel)]="template.effective_date" class="round-corner" type="date" min="{{this.today}}"
            max="{{this.in10Years}}" name="effDate" id="effDate">

        <label for="expDate">Expiry date <small>(optional)</small></label>
        <input [(ngModel)]="template.end_date" class="round-corner" type="date" name="expDAte" id="expDate"
            min="{{this.today}}" max="{{this.in10Years}}">

        <!-- app_initializer -->

    </div>

    <p *ngIf="this.validateDates()" class="wrong">{{validateDates()}}</p>


    <label for="upload" [ngClass]="(!isValid && !this.getExt())?'wrong':''">Upload a template
        <small>(required)</small></label>
    <p class="hint">Browse your local machine to upload a file of type html or txt</p>
    <app-file-upload id="upload" name="upload"></app-file-upload>

    <p *ngIf="!isValid" class="wrong">Fix highlighted fields to add a template</p><br>
    <button type="submit" (click)="addTemplate()">Add template</button>


    <app-go-back></app-go-back>

</div>