<!-- <div class="prsb-header prsb-horiz-and-vertic-center prsb-skip-link ">
  <header class="prsb-logo-text">Ontario</header>
  <input type="text">
</div>

<div class="prsb-logo"></div>
<hr>

<div class="prsb-main">
  <h3 class = "prsb-left-align">Template Manager</h3>  
    <p><abbr title="">LCBO</abbr>
      (Liqueor Convinience Bartender Organization)
    </p>
</div>
<footer class="prsb-footer">
    <a href="" class="">about</a>
    <hr>
    <a href="">contact us</a>
    <hr>
    <a href="">mail</a>
    <hr>
    <a href="">instagram</a>
    <hr>
    <button class="prsb-button prsb-bold-text">Button</button>
</footer> -->

<!-- <app-home></app-home> -->
<app-home></app-home>